.default-button {
	border: 3px solid rgb(229, 229, 229);
	fill: rgb(229, 229, 229);
	width: 176px;
	height: 52px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 16px;
	margin: auto;
	border-radius: 7px;
	transition: all 0.3s;
	background-color: white;
}

.default-button:enabled {
	cursor: pointer;
}

.default-button:hover:enabled {
	border: 3px solid rgb(153, 153, 153);
	fill: rgb(153, 153, 153);
}

.default-button:focus:enabled {
	outline: none;
	border: 3px solid rgb(128, 128, 128);
	fill: rgb(128, 128, 128);
}
